.v-portal-layout {
	text-align: center;
}

.portal-layout-spacing {
	height: 10px;
}
 
.v-portal-layout-no-spacing .portal-layout-spacing {
	height: 0;
}
        
.v-portlet-slot {
	width: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.v-portlet .v-portlet-content {
	visibility: visible;
	width: 100%;
	position: absolute;
	top: 28px;
	left: 0;
	bottom: 0;
	right: 0;
	border: 1px solid black;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.v-portlet.collapsed .v-portlet-content {
	visibility: hidden;
}

.v-portlet {
    overflow: hidden;
	position: relative;
	width: 100%;
}

.v-portlet > .v-portlet-header {
	color: #FFFFFF;
	overflow: hidden;
	height: 28px;
}

.v-portlet > .v-portlet-header .v-captiontext {
	font-weight: bold;
	font-size: 12px;
	line-height: normal;
	color: #fff;
	text-shadow: #000 0 -1px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	padding-top: 7px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.v-portlet-draggable:hover {
	cursor: move;
}

.v-portlet > .v-portlet-header .v-captiontext {
	padding-left: 7px;
	height: 100%;
	float: left;
}

.v-portlet > .v-portlet-header .v-icon {
	float: left;
	height: 16px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-top: 6px;
	width: 16px;
}

.v-portlet > .v-portlet-header-button:hover {
	cursor: pointer;
}

.v-portlet-draggable .v-caption:hover {
	cursor: move;
}

.dragdrop-movable-panel {
    overflow: hidden !important;
    background: transparent;
}

