@import url(../reindeer/styles.css);

.v-app .dark-background {
	background-color: #878484;
}

.v-app .v-portlet-header {
    border-radius: 5px 5px 0 0;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

.v-app .v-portlet-content {
    background-color: #FEFEFE;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    border: 5px solid black;
}

.v-app .v-portallayout-spacing {
	width: 20px !important;
}

.red .v-portlet-content{
	border: 5px solid red;
}

.green .v-portlet-content{
	border: 5px solid green;
}

.yellow .v-portlet-content{
	border: 5px solid yellow;
}

.v-test .v-portlet-header {
	background-image: none;
	background-color: green;
}

.v-white-text {
	color: #FFFFFF;
}
